<div class="container mt-4">
  <h1>投稿の編集</h1>
  
  <%= render 'form', post: @post %>
  
  <div class="mt-3">
    <%= link_to '詳細に戻る', @post, class: 'btn btn-outline-secondary' %> |
    <%= link_to '一覧に戻る', posts_path, class: 'btn btn-outline-secondary' %>
  </div>
</div>